<%- include('sidebar')%>
<h2 class="card-title">Edit Kritik dan Saran</h2>

<form method="post" action="/admin/editKritikSaran">
<div class="form-control">
<div class="relative inline-block">
    <label class="label">
        <span class="label-text">Dinas</span>
      </label>
    <select class="block w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      <option>Pilih Dinas</option>
      <option>Dinas A</option>
      <option>Dinas B</option>
      <option>Dinas C</option>
    </select>
    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
      <svg class="w-4 h-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.292 7.292a1 1 0 011.415 0L10 10.586l3.293-3.294a1 1 0 011.415 1.415l-4 4a1 1 0 01-1.415 0l-4-4a1 1 0 010-1.415z" clip-rule="evenodd" />
      </svg>
    </div>
</div>

<div class="relative inline-block">
    <label class="label">
        <span class="label-text">Program Kerja</span>
      </label>
    <select class="block w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      <option>Pilih Program Kerja</option>
      <option>Dinas A</option>
      <option>Dinas B</option>
      <option>Dinas C</option>
    </select>
    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
      <svg class="w-4 h-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.292 7.292a1 1 0 011.415 0L10 10.586l3.293-3.294a1 1 0 011.415 1.415l-4 4a1 1 0 01-1.415 0l-4-4a1 1 0 010-1.415z" clip-rule="evenodd" />
      </svg>
    </div>
</div>
</div>
<div class="form-control">
  <label class="label">
    <span class="label-text">Kritik dan Saran</span>
  </label>
  <input type="text" placeholder="Password" class="input input-bordered" name="password" />
  
</div>
<div class="form-control mt-6">
  <button type="submit" class="btn btn-primary">Tambah</button>
</div>
</form>

<%- include('footer')%>