<%- include('sidebar')%>
<h2 class="card-title">EDIT DINAS</h2>

<form method="post" action="/admin/editDinas">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nama Dinas</span>
      </label>
      <input type="text" placeholder="Nama Dinas" class="input input-bordered" name="nama_dinas" />
     
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Deskripsi</span>
      </label>
      <input type="text" placeholder="Deskripsi" class="input input-bordered" name="deskripsi" />
      
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kepala Dinas</span>
      </label>
      <input type="text" placeholder="Kepala Dinas" class="input input-bordered" name="nama_kadin"  />
     
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="text" placeholder="Password" class="input input-bordered" name="password" />
      
    </div>
    
    
  
    <div class="form-control mt-6">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
<%- include('footer')%>