<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BEM KM FTI UNAND</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="flex flex-col h-screen">
    <!-- Header -->
    <header class="bg-[#274cb4] text-white py-4 px-6 flex justify-between items-center">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="flex items-center space-x-2 text-xl font-bold text-emerald-50">
          <img src="/images/Logo BEM.png" alt="Logo" class="h-8 w-8">
          <span>BEM KM FTI UNAND</span>
        </a>
        <div class="space-x-4">
          <a href="#" class="text-gray-500 hover:text-white-700">FAQ</a>
          <a href="/logout" class="text-gray-500 hover:text-white-700">Log Out</a>
        </div>
      </div>
    </header>

    <div class="flex-1 flex">
      <!-- Sidebar -->
      <div class="bg-cyan-100 h-screen px-4 py-6">
        <nav class="space-y-2">
          <a href="#" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
           
            <span>Dashboard</span>
          </a>
          <a href="/admin/lihatDinas" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Dinas</span>
          </a>
          <a href="#" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Program Kerja</span>
          </a>
          <a href="#" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Progres</span>
          </a>
          <a href="/admin/kritikSaran" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Kritik dan Saran</span>
          </a>
          <a href="#" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Pengingat</span>
          </a>
          <a href="#" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
            
            <span>Profil</span>
          </a>
          <a href="/login" class="flex items-center space-x-2 py-2 px-4 rounded-md hover:bg-emerald-50">
                            
            <span class="text-red-500">Logout</span>                      
         </a>
        </nav>
      </div>

      <!-- Main Content -->
      <div class="flex-1 p-6">
        
      