<%- include('sidebar')%>
<h2 class="card-title">Tambah Dinas</h2>

<form method="post" action="/admin/tambahDinas">
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nama Dinas</span>
      </label>
      <input type="text" placeholder="Nama Dinas" class="input input-bordered" name="nama_dinas" required/>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Username</span>
      </label>
      <input type="text" placeholder="Username" class="input input-bordered" name="username" required/>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Deskripsi</span>
      </label>
      <input type="text" placeholder="Deskripsi" class="input input-bordered" name="deskripsi" required/>
      
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Kepala Dinas</span>
      </label>
      <input type="text" placeholder="Kepala Dinas" class="input input-bordered" name="nama_kadin"  required/>
     
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="text" placeholder="Password" class="input input-bordered" name="password" required/>
      
    </div>
    
    
  
    <div class="form-control mt-6">
      <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
  </form>
<%- include('footer')%>