<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/stylesheets/output.css" />

</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="text-center">
    <img src="/images/lost.gif" alt="Not Found" class="mx-auto mb-4 w-64">
    <h1 class="text-6xl font-bold mb-2 text-gray-800">404</h1>
    <p class="text-2xl text-gray-600 mb-4">Oops! Page not found.</p>
    <a href="/" class="btn btn-primary">Go to Homepage</a>
  </div>
</body>
</html>