<%- include('../layout/sidebar')%>

<h1 class="text-3xl font-bold pb-5">edit Progress Proker</h1>

<form method="post" action="/progress/upload" >
    <!-- <div class="p-10"> -->
        <div class="pb-5">
          <label class="block text-sm">Program kerja</label>
          <select class="w-full border rounded p-2">
            <option>Pilih Program Kerja</option>
          </select>
        </div>
        <div class="pb-5">
          <label class="block text-sm">Tanggal Pelaksanaan</label>
          <input type="date" class="w-full border rounded p-2" />
        </div>
        <div  class="pb-5">
          <label class="block text-sm">Kendala</label>
          <textarea class="w-full border rounded p-2"></textarea>
        </div>
        <div class="pb-5">
          <label class="block text-sm">Jumlah Pelaksanaan</label>
          <input type="number" class="w-full border rounded p-2" />
        </div>
        <div class="pb-5">
          <label class="block text-sm">Target</label>
          <input type="text" class="w-full border rounded p-2" />
        </div>
        <div class="pb-5">
          <label class="block text-sm">Revisi</label>
          <textarea class="w-full border rounded p-2"></textarea>
        </div>
        <div class="pb-5">
          <label class="block text-sm">Upload file</label>
          <input type="file" class="w-full border rounded p-2" />
        </div>
        <button type="submit" class="bg-blue-800 text-white px-4 py-2 rounded">Simpan Perubahan</button>
      </form>




<%- include('../layout/footer')%>
